################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dmv-taining-app/obj
/dmv-training-app/bin/Debug/net9.0
/dmv-training-app/obj/Debug/net9.0
/dmv-training-app/obj
/dmv-taining-app/bin/Debug/net9.0
